:root {
  /* Light theme */
  --bg-color-light: rgb(240 240 240);
  --text-color-light: rgb(51 51 51);
  --accent-color-light: rgb(234 229 34);
  --text-selection-color-light: rgb(234 229 34);
  --link-color-light: rgb(0 102 204);
  --link-hover-color-light: rgb(0 68 153);

  /* Dark theme */
  --bg-color-dark: rgb(18 24 33);
  --accent-color-dark: rgb(214 234 34);
  --text-color-dark: rgb(255 255 255);
  --text-selection-color-dark: rgb(214 234 34);
  --link-color-dark: rgb(214 234 34);
  --link-hover-color-dark: hsl(66deg 83% 43%);

  /* Default to dark theme */
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --accent-color: var(--accent-color-dark);
  --text-selection-color: var(--text-selection-color-dark);
  --link-color: var(--link-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
}

/* Light theme class */
.lightTheme {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --accent-color: var(--accent-color-light);
  --text-selection-color: var(--text-selection-color-light);
  --link-color: var(--link-color-light);
  --link-hover-color: var(--link-hover-color-light);
}

body {
  line-height: 1.5rem;
  margin: 0;
  min-height: 100dvh;
  position: relative;
}

a {
  color: var(--link-color);
  text-decoration: underline;

  &:hover {
    color: var(--link-hover-color);
  }
}

::selection {
  background: var(--text-selection-color);
  color: var(--bg-color);
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */ /* Safari */ /* Konqueror HTML */ /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
