:root {
  /* Light theme */
  --bg-color-light: rgb(240 240 240);
  --text-color-light: rgb(51 51 51);
  --link-color-light: rgb(0 102 204);
  --link-hover-color-light: rgb(0 68 153);

  /* Dark theme */
  --bg-color-dark: rgb(51 51 51);
  --text-color-dark: rgb(255 255 255);
  --link-color-dark: rgb(102 179 255);
  --link-hover-color-dark: rgb(153 204 255);

  /* Default to dark theme */
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --link-color: var(--link-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
}

/* Light theme class */
.lightTheme {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --link-color: var(--link-color-light);
  --link-hover-color: var(--link-hover-color-light);
}

body {
  line-height: 1.5rem;
  margin: 0;
  min-height: 100dvh;
}
