.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: calc(100dvh - 4rem);
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 48rem;
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.jobPart {
  text-wrap: none;
}

.link {
  color: var(--link-color);
  text-decoration: underline;

  &:hover {
    color: var(--link-hover-color);
  }
}

.list {
  margin-left: 0.5rem;
}

.contactList {
  list-style-type: none;
  padding: 0;
}

.contactLink {
  align-items: center;
  color: var(--text-color);
  display: flex;
  margin-bottom: 0.5rem;

  &:hover {
    color: var(--link-hover-color);
  }
}

.icon {
  margin-right: 0.5rem;
}

.footer {
  margin-top: 2rem;
}
