.particles {
  animation: fadeIn 10s forwards;
  height: 100%;
  width: 100%;

  @media (prefers-reduced-motion) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.solidBackground {
  background-color: var(--bg-color);
  height: 100%;
  inset: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
